@font-face {
    font-family: 'Stellar';
    src: url("fonts/Stellar-Light.otf") format("opentype");
  }

  @font-face {
    font-family: 'Woodland';
    src: url("fonts/PPWoodland-Regular.otf") format("opentype");
  }

body {
  font-family: 'Stellar';
  background-color: #ffffff;
  color: #0d0d0d;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  /* width: 200vw; */
  overflow-x: hidden; //horizontal
}

h1 {
    left: 50%;
    margin: 0;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#title {
    font-weight: 200;
    letter-spacing: 0.1em;
    display: inline-flex;
    margin: -5px;
    padding: 5px;
} 

.title-letter {
    font-size: calc(13vw + 1rem);
    margin-left: -2px;
}

#sub-title {
    font-family: 'Almarai', sans-serif;
    font-weight: 200;
    font-size: calc(0.4vw + 0.5rem);
    letter-spacing: 0.1em;
    font-size: 14px;
    text-transform: lowercase;
    position: relative;
    top: -5px;
}

/* Opacity For Start */
.title-letter, #sub-title {
  opacity: 0;   
}

a:hover{
    color: #9D9D11;
    text-decoration: none;
}

h2, h3, h4, h5, h6, p{
    font-family: 'Almarai', sans-serif;
    text-align: left;
}

h2{
    /* font-size: 22px; */
    font-size: 5.3vw;
    font-weight: 400;
    letter-spacing: 0.08em;
}

h3{
    /* font-size: 17px; */
    font-size: 4.3vw;
    color: #D2E300;
    text-decoration: underline;
    letter-spacing: 0.1em;
}

h6{
    font-weight: 400;
    letter-spacing: 0.1em;
    /* font-size: 12px; */
    font-size: 3.3vw;
}

#quote{
    margin-left: 10vw;
    margin-bottom: 10vh;
    width: 70vw;
}

#support{
    color: #727272;
    font-weight: 100;
    position: absolute;
    bottom: 0;

}

.middle{
    margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);;
}

#adm{
    color: black;
    font-family: 'Woodland';
    font-size: 3.6vw;
    line-height: 1.8em;
}

.row{
    width: 100vw;
    margin: 4vh 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.left, .right{
    display: inline-block;
    float: left;
    text-align: left;
    font-family: 'Almarai', sans-serif;
    font-size: 3.6vw;
    letter-spacing: 0.08em;
    line-height: 1.2em;
    font-weight: 400;
}

.left{
    width: 20%; 
}

.right{
    width: 50%; 
}

.left-1, .right-1{
    width: 40%;
    display: inline-block;
    float: left;
    text-align: left;
    font-family: 'Almarai', sans-serif;
    font-size: 3.6vw;
    letter-spacing: 0.08em;
    line-height: 2em;
    font-weight: 200;
}


.info{
    margin-left: 13vw;
}

h4{
    /* font-size: 30px; */
    font-size: 8vw;
}

h5{
    /* font-size: 18px; */
    font-size: 4.5vw;
    margin-top: 5vh;
}

h4::before{
    content:"―";
}

h5::before{
    content:"―";
}

#time{
    text-decoration: underline;
    /* font-size: 16px; */
    font-size: 4.2vw;
    font-weight: 500;
}

p{
    /* font-size: 13px; */
    font-size: 3.6vw;
    letter-spacing: 0.08em;
    line-height: 1.7em;
}

#art-title{
    font-size: 4.2vw;
    margin-top: 0px;
}

.back{
    text-decoration: underline;
    color: #404040;
    position: fixed;
    left: -3vw;
    top: 30vh;
    font-size: 3vw;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.back-normal{
    text-decoration: underline;
    color: #404040;
    left: 0;
    margin-bottom: -4vh;
    top: 30vh;
    font-size: 3vw;
    z-index: 100;
}

.rotate{
    color: #404040;
    position: absolute;
    left: -15vw;
    top: 30vh;
    /* font-size: 16px; */
    font-size: 4.2vw;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#real-title{
    font-weight: 300;
    float: right;
}

#cont{
    margin-left: 50vw;
}

.bold{
    font-weight: 700;
}

#exhibition-note{
    font-size: 5.4vw;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin-top: -12vh;
    margin-left: 7vw;
    position: absolute;
}

#notes{
    background: #E7F451;
    margin-left: -7vw;
    width: 60vw;
    margin-top: 10vh;
    padding: 10vh 8vw;
}

/* form */
input{
    position: relative;
    margin: 0 auto;
    z-index: 1000;
}

input[type=text]{
    border: none;
    border-bottom: 1px solid #838383;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    padding-top: 2vh;
    font-family: 'Almarai', sans-serif;
    font-size: 4.8vw;
    letter-spacing: 0.05em;
    color: #282828;
    display: block;
    text-align: left;
}

input[type=text]:focus {
    outline: none;
}

    input[type=submit]{
    font-family: 'Almarai', sans-serif;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    animation-delay: 1.8s;
    width: 100%;
    font-size: 4.2vw;
    color: #D2E300;
    text-decoration: underline;
    letter-spacing: 0.1em;
    font-weight: 700;
    }

    input[type=submit]:hover{
        color: #9D9D11;
        text-decoration: none;
}

input[type=submit]:focus {
    outline: none;
}

form{
    width: 80vw;
}

#green-box{
    background: #E7F451;
    position: absolute;
    margin-top: -45vh;
    height: 38vh;
    width: 7vw;
    margin-left: -7vw;
}

.quote{
    margin-bottom: 10vh;
}

#vid-text{
    float: right;
    width: 30vw;
    margin-left: -5vw;
    font-size: 3.3vw;
    line-height: 1.2em;
    border-top: 1px solid black;
    padding-top: 1vh;
}

h2 a{
    font-family: 'Stellar';
    font-weight: 500;
    font-size: 45px;
    letter-spacing: 0.05em;
    text-align: center;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    padding-top: 5vh;
}   